<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="views/layout :: head">
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>

    <h3>Create New Customer</h3>
    <p><a th:href="@{/customers}">Back To Customer List</a></p>

    <div id="form">
        <form th:action="@{/customers/create}" th:object="${customer}"
              method="post" novalidate="novalidate">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label for="firstname">FirstName</label>
                <input type="text" id="firstname" th:field="*{firstName}"/>
            </div>
            <div>
                <label for="lastname">LastName</label>
                <input type="text" id="lastname" th:field="*{lastName}"/>
            </div>
            <div>
                <label for="province">Province</label>
                <select id="province" th:field="*{province}">
                    <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </div>
            <input type="submit" value="Save"/>
        </form>
    </div>
    <footer th:replace="views/layout :: footer"></footer>

</body>
</html>